.option {
    padding: 3%;
}
.resolution_option {
    padding-bottom: 5%;
}
.download_option {
    margin-top: 50px;
}
.delete_option {
    margin-top: 50px;
}
.title_header {
    padding: 2%;
}
.front_menu_option {
    padding-bottom: 100px;
}

.login_menu {
    margin: 20px;
}
.header {
    margin-left: 294px;
}
h3 {
    text-align: center;
}

img {
  border: 5px solid #000;
  width: auto;
  height: auto;
  max-width: 100%;
}

.front_menu {
    margin-top: 50px 0px;
    text-align: center;
    max-width: 200px
    padding: 2%;

}

body {
    background-color: #212529;
    color: #dee2e6;
}

.form-control {
    margin-top: 10px;
    margin-bottom: 10px;

}

th {
    color: #dee2e6;
    text-align: center;

}

td {
    color: #dee2e6;
    text-align: center;
    vertical-align: middle;
}

.preview {
    width: 150px;
    height: auto;
}

.ignore-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container {
    margin: 2%;
}

.add-ignore-container {
    display: flex;
    justify-content: center;
}


.pagination {
  --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #6ea8fe;
    --bs-pagination-bg: #212529;
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: #495057;
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: #9ec5fe;
    --bs-pagination-hover-bg: #2b3035;
    --bs-pagination-hover-border-color: #495057;
    --bs-pagination-focus-color: #9ec5fe;
    --bs-pagination-focus-bg: #343a40;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #0d6efd;
    --bs-pagination-active-border-color: #0d6efd;
    --bs-pagination-disabled-color: rgba(173, 181, 189, 0.75);
    --bs-pagination-disabled-bg: #343a40;
    --bs-pagination-disabled-border-color: #495057;
    display: flex;
    padding-left: 0;
    list-style: none;
}

[data-bs-theme=dark] {
    --bs-body-color: #adb5bd;
    --bs-body-color-rgb: 173,181,189;
    --bs-body-bg: #212529;
    --bs-body-bg-rgb: 33,37,41;
    --bs-emphasis-color: #f8f9fa;
    --bs-emphasis-color-rgb: 248,249,250;
    --bs-secondary-color: rgba(173, 181, 189, 0.75);
    --bs-secondary-color-rgb: 173,181,189;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52,58,64;
    --bs-tertiary-color: rgba(173, 181, 189, 0.5);
    --bs-tertiary-color-rgb: 173,181,189;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43,48,53;
    --bs-emphasis-color: #fff;
    --bs-primary-text: #6ea8fe;
    --bs-secondary-text: #dee2e6;
    --bs-success-text: #75b798;
    --bs-info-text: #6edff6;
    --bs-warning-text: #ffda6a;
    --bs-danger-text: #ea868f;
    --bs-light-text: #f8f9fa;
    --bs-dark-text: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #212529;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #495057;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #055160;
    --bs-warning-border-subtle: #664d03;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: #fff;
    --bs-link-hover-color: #9ec5fe;
    --bs-link-hover-color-rgb: 158,197,254;
    --bs-code-color: #e685b5;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
