{% include "header.html" %}
<body>
    <h3 class="title_header">Downloads</h3>
    <hr>
        <div class="row option">
            <div class="col-8"></div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a class="btn btn-primary" href="{{url_for('download_all')}}">Download All</a>
            </div>
             <div class="col-lg-2 col-md-2 col-sm-2">
                <a class="btn btn-danger" href="{{url_for('delete_all')}}">Delete All</a>
            </div>
        </div>
    {{ pagination.info }}
    {{ pagination.links }}
           <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th><a class="nav-link" href="{{url_for('downloads')}}" role="button">Filename</a></th>
                        <th>Preview</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in filelist %}
                    <tr>
                        <td>{{item}}</td>
                        <td><img class="preview" src="{{url_for('preview', filename=item)}}"/></td>
                        <td>
                            <a class="btn btn-primary btn-sm download_option" href="{{url_for('download_file', filename=item)}}" download="{{item}}">Download</a>
                            <a class="btn btn-danger btn-sm delete_option" href="{{url_for('delete', filename=item)}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {{ pagination.links }}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"> </script>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"> </script>
    <script src="{{ url_for('static', filename='js/index.js')}}"> </script>
</body>
