{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-3 title_header">
                <h6>Motion Detection: {{motion}}</h6>
            </div>
            <div class="col-3 title_header">
                <h6>AP Detection: {{aps}}</h6>
            </div>
            <div class="col-3 title_header">
                <h6>Current RSSI: {{rssi}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <img src="{{ url_for('video_feed') }}">
            </div>
            <div class="col-lg-3">
                <div class="container front_menu">
                    <div class="col front_menu_option">
                        {% if start == True %}
                        <a
                           class="btn btn-outline-danger"
                           href="{{url_for('start_capture')}}">Stop Capture
                        </a>
                        {% else %}
                        <a
                           class="btn btn-outline-danger"
                           href="{{url_for('start_capture')}}">Start Capture
                        </a>
                        {% endif %}
                    </div>
                    <div class="col front_menu_option">
                        {% if stream == True %}
                        <a
                           class="btn btn-outline-danger"
                           href="{{url_for('start_stream')}}">Stop Stream
                        </a>
                        {% else %}
                        <a
                           class="btn btn-outline-danger"
                           href="{{url_for('start_stream')}}">Start Stream
                        </a>
                        {% endif %}
                    </div>
                    <div class="col front_menu_option">
                        <a
                           class="btn btn-outline-light"
                           href="{{url_for('rotate')}}">Rotate Clockwise
                        </a>
                    </div>
                    <div class="col front_menu_option">
                        <a
                           class="btn btn-outline-light"
                           href="{{url_for('manual_photo')}}">Take Photo
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>