{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-3 title_header">
                <h6>Motion Detection: {{motion}}</h6>
            </div>
            <div class="col-3 title_header">
                <h6>AP Detection: {{aps}}</h6>
            </div>
            <div class="col-3 title_header">
                <h6>Current RSSI: {{rssi}}</h6>
            </div>
            <div class="col-3 title_header">
                <h6>Current Resolution: {{ resolution }}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
            {% for item in resolutions %}
                <div class="col resolution_option">
                    <a
                       class="btn btn-outline-light btn-sm"
                       href="{{ url_for('set_resolution', resolution=item) }}">{{item}}
                    </a>
                </div>
            {% endfor %}
            </div>
            <div class="col-lg-8 col-md-8 col-sm-2">
                <img src="{{ url_for('video_feed') }}" class="object-fit-scale border rounded">
            </div>
            <div class="col-lg-2">
                <div class="container front_menu">
                    <div class="col front_menu_option">
                        {% if start == True %}
                        <a
                           class="btn btn-outline-danger"
                           href="{{url_for('start_capture')}}">Stop Capture
                        </a>
                        {% else %}
                        <a
                           class="btn btn-outline-danger"
                           href="{{url_for('start_capture')}}">Start Capture
                        </a>
                        {% endif %}
                    </div>
                    <div class="col front_menu_option">
                        {% if stream == True %}
                        <a
                           class="btn btn-outline-danger"
                           href="{{url_for('start_stream')}}">Stop Stream
                        </a>
                        {% else %}
                        <a
                           class="btn btn-outline-danger"
                           href="{{url_for('start_stream')}}">Start Stream
                        </a>
                        {% endif %}
                    </div>
                    <div class="col front_menu_option">
                        <a
                           class="btn btn-outline-light"
                           href="{{url_for('rotate')}}">Rotate Clockwise
                        </a>
                    </div>
                    <div class="col front_menu_option">
                        <a
                           class="btn btn-outline-light"
                           href="{{url_for('manual_photo')}}">Take Photo
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>